[user]
	email = 126080861+AlexHird@users.noreply.github.com
  name = Alexander Hirdman
[init]
  defaultBranch = main
[fetch]
  prune = true
[core]
  editor = nvim
[commit]
  template = /Users/ahirdman/.gitmessage
[alias]
  branches = for-each-ref --sort=-committerdate --format=\"%(color:blue)%(authordate:relative)\t%(color:red)%(authorname)\t%(color:white)%(color:bold)%(refname:short)\" refs/remotes
  st = status
  co = checkout
  aa = add --all
  ap = add --patch
  ci = commit -v
  ca = commit --amend
  pf = push --force-with-lease
